<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/" class="logo-text">MyApp</a>
    </div>
    <ul class="navbar-links">
      <% if (!user) { %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout" class="logout-btn">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>
